@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  margin: 0 0;
  padding: 0;
  color: white;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.478);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Tektur, Orbitron, sans-serif;
  font-size: medium ;

}

body::-webkit-scrollbar {
  display: none;
}

a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

nav a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-out;
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

.intropage {
  display: flex;
  flex-direction: column; 
  font-family: Tektur, sans-serif;
  align-items: center;
  height: 90vh;
  padding-top: 0;
  background-image: url('../assets/Spaceimage3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: lighten;

}

.introduction {
  text-align: center;
  justify-content:start;
  align-items:center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.contentlogo {

  max-width: 70vh;
  max-height: 40vh;
  align-items: center;
  object-fit: cover;
  color: white;
  margin-top: 4vh;
  flex: 0.8;
  opacity: 0.8;
}

.introhead {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 45px;
}

.intropara {
  padding: 0%;
  margin: 0%;
  width: 60%;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  font-family: Tomorrow, sans-serif;
}

h1, h2 {
  color: white
}



.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: black;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("../assets/Spaceimage5.jpg");
  background-position: right;
}

.astromagLogo {
  height: 8vh;
  object-fit: contain;
  margin-top: 0;
  flex: 1.1;
  align-items: center;
  justify-content: left;
}

.toplogo {
  width: 30vh;
  position: relative;
  top: -10px;
  left: 6px;
  object-fit: contain;
}

.navBar {
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
  font-size: large;
  gap: 30px;
  justify-content: center;
}

.start {
  flex: 0.2;
  width: 160px;
  min-height: 45px;
  margin-bottom: 100px;
  border-radius: 8px;
  border: none;
  background-color: rgb(43, 128, 255);
  font-size: medium;
  font-family: Tektur, sans-serif;
  font-weight: 500;
  box-shadow: 0 0 5px rgb(43, 128, 255);

}

.start:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
  box-shadow: 0 0 8px rgb(43, 128, 255);

}

.Content {
  position: static;
  background-color: black;
  height: 190vh;
  
}

.magpage {
  width: 100%;
  height: 103vh;
  background-image: url("../assets/Spaceimage1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.magpage::-webkit-scrollbar {
  display: none;
}

.leftarrow, .rightarrow {
  padding: 0;
  opacity: 0.5;
  border: 1px rgb(55, 55, 255) solid;
  box-shadow: 0 0 8px rgb(43, 128, 255);
  z-index: 1;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  background-color: rgb(0, 37, 77);
}

.leftarrow {
  position: absolute;
  top: 150vh;
  left: 3vh;
}

.rightarrow {
  position: absolute;
  top: 150vh;
  right: 3vh;
}

.leftarrow:hover, .rightarrow:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0  15px rgb(43, 128, 255);
  transition: all 0.3s ease-out;
}

.magazines {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 40px;
  padding-right: 100vh;
}
.magcard {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 10px;
  width: 90vh;
  height: 55vh;
  position: relative;
  top: 50vh;
  left: 50vw;
  translate: -50% -50%;
}
.magcard:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
  cursor: pointer;
  box-shadow: 0 0 10px black;
}

.magimg {
  width: 40vh;
  height: 55vh;
  border-radius: 10px 0 0 10px;
}

.magdet {
  flex: 1;
  min-width: 50vh;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #010d25;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.astrodet {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: start;
  text-align:left;
  padding-left: 50px;
}

.details {
  font-Size:25px;
  text-Decoration: underline;
  margin-bottom: 5px;
  margin-top:0;
  font-family: Tomorrow,sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Tomorrow, sans-serif;
}

.title {
  font-family: Orbitron;
  font-size: 40px;
  flex: 1;
  text-align: center;
  height: 10%;
  padding-right: 40px;
  padding-top: 15%;
}

.footer {
  background-image: url("../assets/Spaceimage9.png");
  background-position: center;
  background-size: cover;
  margin: 0;
  min-height: 80vh;
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  padding-top: 5vh;

}

.foothead {
  display: flex;
  flex-direction: row;
  height: 40vh;
  margin-left: 10vw;
  margin-right: 10vw;
  align-items: end;
}

.foothead p {
  font-family: Tektur, Orbitron, sans-serif;

}

.contact {
  display: flex;
  flex-direction: column;
  margin-right: 30vw;
  vertical-align: bottom;
}

.mail p,.maillink {
  flex: 1;
  font-size: 22px;
  font-weight: 200;
  font-family: Quantico;
  font-size: 20px;
}

.mailid {
  display: flex;
  flex-direction: row;
  gap: 0;
  margin-top: 1vh;
  padding-left: 1vw;
}

.mailid:hover {
  cursor: pointer;
}

.maillink {
  text-decoration: none;
  color: rgb(55, 55, 255);
  font-size: 19px;

}

.maillink:hover, .maillink:active ,.maillink:visited {
  text-decoration: none;
  color: rgb(55, 55, 255);
  transform: scale(1.1);
  transition: all 0.3s ease-out;}

.follow {
  flex: 1;
}
.socials {
  margin-top: 7vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.socials img:hover {
  cursor: pointer;
  transform: scale(1.4);
  transition: all 0.3s ease-out;
}

img.socials {
  width: 5vh;
}


.ftcopy {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 35px;
  padding-top: 18px;
  text-align: center;
  font-size: medium;
}
